{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Create a New Group</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.group_id.label(class="form-control-label") }}
                {{ form.group_id(class="form-control form-control-lg") }}
                {% if form.group_id.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.group_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control form-control-lg") }}
                {% if form.description.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.submit(class="form-control form-control-lg") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}