{% extends "header.html" %}
{% block content %}

  {% if error_msg %}
    <b>{{ error_msg }}</b>
  {% endif %}

  {% if group %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {# Display card for the group #}
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-header">
            <h1>@{{ group.group_id}}</h1>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Description: </b> {{ group.description}}</li>
              <li class="list-group-item"><b>Date Created: </b> {{ group.date}}</li>
              <li class="list-group-item"><b>Group Leader</b> {{ group.leader.first_name}} {{group.leader.last_name}}</li>
            </ul>
          </div>
          <li class="list-group-item">
          <p class="font-weight-bold">Followers:</p>
          <ul>
            {% for follower in group.followers %}
              <li>@{{follower.username}} - {{follower.last_name}}, {{ follower.first_name }}</li>
            {% endfor %}
          </ul>
          </li>
        </div>
        {% if current_user.is_authenticated %}
          {% if current_user.username == group.leader.username %}
            <h3> Leader Menu </h3>
            <div class="col">
              <form name = "go_to_new_poll_form" action="" method="post">
                {{ go_to_new_poll_form.csrf_token }}
                <div class="form-group">
                  {{ go_to_new_poll_form.new_poll(type="submit", class="btn btn-outline-primary btn-block") }}
                </div>
              </form>
            </div>
            <div class="col">
              <form name = "next_poll_form" action="" method="post">
                {{ next_poll_form.csrf_token }}
                <div class="form-group">
                  {{ next_poll_form.next(type="submit", class="btn btn-outline-primary btn-block") }}
                </div>
              </form>
            </div>
            <hr>
          {% endif%}
          {% if current_user not in group.followers %}
            <form name = "join_form" action="" method="post">
              {{ join_form.csrf_token }}
              <div class="form-group">
                {{ join_form.join(type="submit", class="btn btn-primary btn-lg btn-block") }}
              </div>
            </form>  
          {% else %}
            {% if current_poll %}
            <div class="container-fluid">
              <div class="row">
                <h3>{{ current_poll.question }}<h3>
              </div>
              <div class="row">
                <h5>Poll Type: {{current_poll.poll_type}}</h5>
              </div>
              {% if (current_poll.poll_type == "Visible") or (current_poll.poll_type == "Leader Only" and current_user.username == group.leader.username) %}
              <div class="row"></div>
                <div id="table-wrapper">
                  <div id="table-scroll">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Vote</th>
                          <th scope="col">Count</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for (vote, users_list) in current_poll.get_responses().items() %}
                          <tr>
                            <th scope="row">{{vote}}</th>
                            {% if users_list != [] %}
                              {% for user in users_list %}
                                <td>@{{user}}, </td>
                              {% endfor %}
                            {% else %}
                            <td> No Votes </td>
                            {% endif %}
                          </tr>
                        {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              {% endif %}    
              {% if poll_response_form %}
              <hr> <h5> Your Vote: </h5>
                <form name = "poll_response_form" action="" method="post">
                  {{ poll_response_form.csrf_token }}
                  {% for subfield in poll_response_form.choices %}
                    <div class="row">
                      <td>{{ subfield }}&nbsp</td>
                      <td>{{ subfield.label }}</td>
                    </div>
                  {% endfor %}
                  <div class="row">
                    {{ poll_response_form.submit(type="submit", class="btn btn-primary btn-lg btn-block") }}
                  </div>
                  <div class="row">
                    <h3>Current Responses</h3>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Vote</th>
                          <th scope="col">Count</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for (key, value) in current_poll.get_counts().items() %}
                          <tr>
                            <th scope="row">{{key}}</th>
                            <td>{{value}}</td>
                          </tr>
                        {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </form>
              {% else %}
                <h3>You voted:&nbsp{{ answer }}</h3>
              {% endif %}
            </div>
            <form name = "chart_form" action="" method="post">
              {{ chart_form.csrf_token }}
              <div class="form-group">
                {{ chart_form.gen_chart(type="submit", class="btn btn-secondary btn-lg btn-block") }}
              </div>
            </form>  
            {% else %}
              <h3> There are no active polls currently </h3>
            {% endif %}
          {% endif %}
        {% endif %}  
      </div>
    </div>
  {% endif %}
{% endblock content %}