{% extends "header.html" %}
{% block content %}
<div class="row">
    <h1> Welcome to QuickVote<h1>
</div>
<div class="row">
    This is a project by Evan Devore designed and built for use by my fraternity, Sigma Alpha Mu.<br/>   
</div>
<div class="row">
    See how I built it on my&nbsp<a href="https://github.com/edevore/flickers">Github</a>,&nbspor check out my&nbsp<a href="https://ter.ps/devoreresume">Resume</a>
</div>
<hr>
<div class="row">
    <h3>Search for an existing group here!&nbsp</h3> 
    <form action="/" class="form-inline my-2 my-lg-0" method="POST">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {{ search_form.csrf_token }}
        {{ search_form.search_query(class="form-control", placeholder="Search") }}

        {% if search_form.search_query.errors %}
        <div class="alert alert-warning" role="alert">
            {% for error in search_form.search_query.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {{ search_form.submit(class="btn btn-outline-success") }}
    </form>
</div>
<div class="row">
    <h3>
        Or <a href="{{ url_for('groups.create_group') }}">Create a New Group!</a>
    </h3>
</div>
{% endblock %}
